/* Arth CSS*/
.arth_tab_main
{
	margin:15px;
	border-color:#e6e6e6;	
	border-style:solid;
	border-width:1px;				
}

.arth_tab_heading
{	
	text-align:center;	
	padding:5px 5px 5px 5px;
	height:40px;
	background-color:#333388;
	color:white;
}

.arth_tab_content
{
	text-align:justify;
	background-color:#efefef;	
}

.arth_tab_intro
{
	width:400px;
	margin:5px;
}

.arth_tab_intro a
{
	color:blue;
	
}

.arth_tab_scores
{
	width:100px;
}

.arth_tab_scores p
{
	display:block;
	padding:0;
	margin:2px;
}

.arth_tab_total
{
	width:100px;
	font-size:48px;
	text-align:center;
}

.arth_tab_comments
{
	width:300px;

}


.arth_ent_main
{
	margin:15px;
	border-color:#e6e6e6;	
	border-style:solid;
	border-width:1px;
}

.arth_ent_heading
{	
	text-align:center;	
	padding:5px 5px 5px 5px;
	height:40px;
	background-color:#333388;
	color:white;
}

.arth_ent_category
{
	margin:5px;
	background-color:#efefef;
}

.arth_ent_scores
{
	width:100px;
}

