#result_link
{
	font-size: 22px;
	padding:10px 5px 10px 2px;

}

#result_link a:link, #result_link a:visited
{
	color:blue;
	

}

span.result_span
{
	
	display:block;
	color:#333333;
	font-size: 12px;

}

#results
{
	text-align:left;
	display:block;
	margin:10px 5px 5px 5px;
}

.result_summary
{
	font-size:12px;
}
