{% extends "base.html" %}
{% block sheets %}<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/image_rotator.css" /> {% endblock %}
{% block title %} {{event.get_title}} {%endblock %}

<!--menu block-->
{% block menu %}
{% include "includes/events_menu.html" %}
{% endblock %}

{%block facebook%}
{%endblock%}

<!--content block-->
{% block content %}
	<div id="main_img">
		{%if event.banner %}
			<img src="{{MEDIA_URL}}/{{event.banner}}" />
		{% else %}	
			<img src="{{MEDIA_URL}}/images/home/home.jpg" />
		{%endif%}		
	</div>

	<div id="content">
		<div style="width:1000px;">
			<span class="heading"><span class="heading_in">Sponsors</span></span>
			<div class="content_in">
				<span class="content_in_span">	
				<table cellspacing="20">
				{%for sponsor in sponsors%}
				<tr>
					<td>	
					<a target="_blank" href="{%if sponsor.link%}{{sponsor.link}}{%else%}#{%endif%}">
						{%if sponsor.pic%}
							<img src="{{MEDIA_URL}}/{{sponsor.pic}}" width="300" height="200"/>
						{%else%}
							<img src="{{MEDIA_URL}}/default.jpg" />
						{%endif%}					
					</a>					
					</td>
					<td valign="top">
						<a name="{{sponsor.name}}"><h1>{{sponsor.name}}</h1></a>
						<strong>{{sponsor.title}}</strong><br /><br />
						{{sponsor.details}}<br />
					</td>
				</tr>
				{%if not forloop.last%}<tr><td colspan="2"><hr class="content_ruler"></td></tr>{%endif%}
				{%endfor%}
				</table>			
				</span>
			</div>
		</div>
	</div>
{% endblock %}

