{% extends "base.html" %}
{% block sheets %}<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/forms.css" /> {% endblock %}
{% block title %}EDC | Forgot Password {% endblock %}

<!--menu block-->
{% block menu %}
{% include "includes/menu.html" %}
{% endblock %}

<!--content block-->
{% block content %}
	<div id="main_img"><img src="{{MEDIA_URL}}/images/home/home.jpg" /></div>
	
	<div id="content">
		<div id="forgot_password" style="float:left;width:600px">		
			<span class="heading"><span class="heading_in">Forgot Password</span></span>
				<div id="forgot_password_in" class="content_in">
					<span class="content_in_span">	
						<form action="#" method="POST">{% csrf_token %}
							<table>			
							 <tr>
									<td colspan="2">
									{{form.non_field_errors}}
									{%ifequal success 1 %}
										<img src="{{MEDIA_URL}}/images/icon_success.gif" />
										<span style="color:green; font-size:12px;">{{msg}}</span>
									{%endifequal%}
									
									{%ifequal success 0 %}
										<img src="{{MEDIA_URL}}/images/icon_fail.gif" />
										<span style="color:red; font-size:12px;">{{msg}}</span>	
									{%endifequal%}
									</td>
							  </tr>
							{%for field in form %}
							<tr>
								<div class="fieldWrapper">
								   {% if field.errors %} <tr colspan="2"><td>{{field.errors}}</td></tr> {% endif %}
        							<td>{{ field.label_tag }}:</td>
								 <td>
									{{ field }}
								</td>	
								<tr >
									<td colspan="2">Enter the email address you registered with. Your password will be sent to this address.</td>				
								</tr>
        							</div>
							</tr>
							{%endfor%}
							<tr>
							<td><input type="submit" value="Submit" /></td>
							</tr>							
							</table>						
						</form>
					</span>		
				</div>		
		</div>		
	</div>
{% endblock %}

